.header {
  background-color: #fbff87;
  padding: 15px;  
}

.header .link {
  display: inline-block;
  padding: 15px;
  background-color: #2b3a5c;
  color: #fbff87;
  margin-left: 15px;
}

.header .link:first-child {
  margin-left: 0;
}

.regForm {

}

.regForm input {
  display: block;
  width: 240px;
  height: 30px;
  line-height: 30px;
  margin-bottom: 15px;
}

.regForm button {
  height: 30px;
  line-height: 30px;
  width:120px;
}